# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# Logs and checkpoints
*.log
logs/
runs/
checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Jupyter notebooks
.ipynb_checkpoints/

# Others
tmp/

# Dados de treinamento
training_data/
dados/

default_settings.json
